<mat-toolbar class="sticky top-0 z-50 h-14 bg-neutral-900 text-white flex justify-between">
  <!-- <a routerLink="home" class="text-2xl uppercase font-medium">Con-crete-store</a> -->
  <a routerLink="home" class="ml-2 text-3xl uppercase font-medium">KBDA</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon [matBadge]="getItemsQuantity()" [matBadgeHidden]="getItemsQuantity()===0" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-soli">
      <div class="pb-3 flex justify-between">
        <span class="mr-32">{{getItemsQuantity()}} Items</span>
        <a (click)="onClearCart()" class="cursor-pointer text-red-600">Clear Cart</a>
      </div>
      <div *ngIf="cart.items.length" class="py-3">
        <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
          {{item.name}} x {{item.quantity}}
          <span class="font-medium">{{ item.price | currency}}</span>
        </div>
      </div>
      <div>
        <div class="flex justify-between py-3 font-light">
          Total:
          <span class="font-medium">{{ getTotal(cart.items) | currency:' '}} лв.</span>
        </div>
        <div class="flex justify-center">
          <div class="mr-2 w-full">
            <button routerLink="/cart" mat-raised-button class="w-full">
              View Cart
            </button>
          </div>
          <div class="w-full">
            <button routerLink="/checkout" mat-raised-button class="w-full" color='primary'>
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>