<mat-toolbar class="sticky top-0 z-50 h-14 bg-neutral-900 text-white flex justify-between">
  <!-- <a routerLink="home" class="text-2xl uppercase font-medium">Con-crete-store</a> -->
  <a routerLink="home" class="ml-2 text-3xl uppercase font-medium">KBDA</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon [matBadge]="getItemsQuantity()" [matBadgeHidden]="getItemsQuantity()===0" matBadgeColor="warn">
      shopping_cart</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu-without-scroll">
    <ng-container *ngIf="getItemsQuantity()!=0; else emptyCart">
      <div class="p-3 divide-y divide-solid overflow-visible">
        <!-- Cart Header Start -->
        <div class="pb-3 flex justify-between text-sm">
          <span class="">{{getItemsQuantity()}} - Продукта</span>
          <a (click)="onClearCart()" class="cursor-pointer text-red-600">Изчисти</a>
        </div>
        <!-- Cart Header End -->

        <!-- Cart Body Start -->
        <div *ngIf="cart.items.length" class="py-3">
          <div *ngFor="let item of cart.items" class="grid grid-cols-3 justify-between mb-2 text-sm">
            <span class="mr-2 font-light col-span-2 max-h-[30px] overflow-x-auto"> {{item.name +' x '+ item.quantity}}</span>
            <span class="font-medium flex justify-end">{{ item.price * item.quantity | currency:' '}} лв.</span>
          </div>
        </div>
        <!-- Cart Body End -->

        <!-- Cart Footer Start -->
        <div>
          <div class="flex justify-between py-3 text-base font-medium">
            Общо:
            <span class="font-medium">{{ getTotal(cart.items) | currency:' '}} лв.</span>
          </div>
          <div class="grid grid-cols-2 gap-2">
            <div>
              <button routerLink="/cart" mat-raised-button class="w-full uppercase">
                Количка
              </button>
            </div>
            <div>
              <button routerLink="/checkout" mat-raised-button class="w-full uppercase" color='primary'>
                Завършване
              </button>
            </div>
          </div>
        </div>
        <!-- Cart Body End -->
      </div>
    </ng-container>
  </mat-menu>
</mat-toolbar>

<ng-template #emptyCart>
  <div class="text-lg mx-3 my-2 text-center">Вашата количка е празна.</div>
</ng-template>