<ng-container *ngIf="(orders$ | async) as orders">
    <div class="bg-white">
        <div class="py-16 sm:py-24">
            <div class="max-w-7xl mx-auto sm:px-2 lg:px-8">
                <div class="text-center max-w-2xl mx-auto px-4 lg:max-w-4xl lg:px-0">
                    <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">Order history</h1>
                    <p class="mt-2 text-sm text-gray-500">Check the status of recent orders, manage returns, and
                        discover
                        similar products.</p>
                </div>
            </div>

            <div *ngIf="orders; else noOrders" class="mt-16">
                <h2 class="sr-only">Recent orders</h2>
                <div *ngFor="let order of orders" class="max-w-7xl mx-auto sm:px-2 lg:px-8 mt-5">
                    <div class="max-w-2xl mx-auto space-y-8 sm:px-4 lg:max-w-4xl lg:px-0">
                        <div class="bg-white border-t border-b border-gray-200 shadow-sm sm:rounded-lg sm:border">
                            <div
                                class="flex items-center p-4 border-b border-gray-200 sm:p-6 sm:grid sm:grid-cols-4 sm:gap-x-6">
                                <dl
                                    class="flex-1 grid grid-cols-2 gap-x-6 text-sm sm:col-span-3 sm:grid-cols-3 lg:col-span-2">
                                    <div>
                                        <dt class="font-medium text-gray-900">Order number</dt>
                                        <dd class="mt-1 text-gray-500 overflow-x-auto">{{order.orderNumber}}</dd>
                                    </div>
                                    <div class="hidden sm:block">
                                        <dt class="font-medium text-gray-900">Date placed</dt>
                                        <dd class="mt-1 text-gray-500">
                                            <time [dateTime]="order.orderDate">
                                                {{order.orderDate | date: 'MMM dd, yyyy'}}
                                            </time>
                                        </dd>
                                    </div>
                                    <div>
                                        <dt class="font-medium text-gray-900">Total amount</dt>
                                        <dd class="mt-1 text-gray-500">{{order.totalAmount | currency:' '}}
                                            лв.</dd>
                                    </div>
                                </dl>

                                <div class="relative flex justify-end lg:hidden">
                                    <div class="flex items-center">
                                        <button type="button" [matMenuTriggerFor]="orderOptions"
                                            class="-m-2 p-2 flex items-center text-gray-400 hover:text-gray-500"
                                            id="menu-0-button" aria-expanded="false" aria-haspopup="true">
                                            <span class="sr-only">Options for order WU88191111</span>
                                            <!-- Heroicon name: outline/dots-vertical -->
                                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                                            </svg>
                                        </button>
                                    </div>

                                    <!--
                    Dropdown menu, show/hide based on menu state.

                    Entering: "transition ease-out duration-100"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->
                                    <mat-menu #orderOptions="matMenu"
                                        class="absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                                        <div class="py-1" role="none">
                                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                            <button [routerLink]="'/orders/'+order.orderNumber"
                                                class="text-gray-700 block px-4 py-2 text-sm">
                                                View Order
                                            </button>
                                            <button (click)="openInvoice(order)"
                                                class="text-gray-700 block px-4 py-2 text-sm">
                                                View Invoice
                                            </button>
                                        </div>
                                    </mat-menu>
                                </div>

                                <div class="hidden lg:col-span-2 lg:flex lg:items-center lg:justify-end lg:space-x-4">
                                    <a [routerLink]="'/orders/'+ order.orderNumber"
                                        class="flex items-center justify-center bg-white py-2 px-2.5 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        <span>View Order</span>
                                        <span class="sr-only">for order {{order.orderNumber}}</span>
                                    </a>
                                    <a (click)="openInvoice(order)"
                                        class="flex items-center justify-center bg-white py-2 px-2.5 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        <span>View Invoice</span>
                                        <span class="sr-only">for order {{order.orderNumber}}</span>
                                    </a>
                                </div>
                            </div>

                            <div class="border-b border-gray-200 py-6 px-4 sm:px-6 lg:p-8">
                                <h4 class="sr-only">Status</h4>
                                <p class="text-sm font-medium text-gray-900">
                                    {{getOrderStatus(order.orderStatus, order.lastModifiedDate)}}
                                </p>
                                <div class="mt-6" aria-hidden="true">
                                    <div class="bg-gray-200 rounded-full overflow-hidden">
                                        <div class="h-2 bg-indigo-600 rounded-full"
                                            [style]="{'width': (getOrderStatusIndex(order.orderStatus) + 1) / 4 * 100 + '%'}">
                                        </div>
                                    </div>
                                    <div class="hidden sm:grid grid-cols-4 text-sm font-medium text-gray-600 mt-6">
                                        <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderStatusIndex(order.orderStatus),0)}"
                                            class="text-left pl-5">Order placed</div>
                                        <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderStatusIndex(order.orderStatus),1)}"
                                            class="text-center">Processing</div>
                                        <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderStatusIndex(order.orderStatus),2)}"
                                            class="text-center ">Shipped</div>
                                        <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderStatusIndex(order.orderStatus),3)}"
                                            class="text-right pr-5">
                                            {{isMoreThanOrEqualTo(getOrderStatusIndex(order.orderStatus),3) ?
                                            getOrderStatusEnum(order.orderStatus) : 'Delivered'}}</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Products -->
                            <h4 class="sr-only">Items</h4>
                            <ul role="list" class="divide-y divide-gray-200">
                                <li *ngFor="let item of order.orderItems" class="p-4 sm:p-6">
                                    <div class="flex items-center sm:items-start">
                                        <div
                                            class="flex-shrink-0 w-20 h-20 bg-gray-200 rounded-lg overflow-hidden sm:w-40 sm:h-40">
                                            <img [src]="item.product.imageUrl" [alt]="item.product.description"
                                                class="w-full h-full object-center object-cover">
                                        </div>
                                        <div class="flex-1 ml-6 text-sm">
                                            <div class="font-medium text-gray-900 sm:flex sm:justify-between">
                                                <h5>{{item.product.name}}</h5>
                                                <p class="mt-2 sm:mt-0">Quantity: {{item.quantity}}</p>
                                                <p class="mt-2 sm:mt-0">Price per: {{item.product.price | currency: '
                                                    '}} лв.</p>
                                            </div>
                                            <p class="hidden text-gray-500 sm:block sm:mt-2">
                                                {{item.product.description}}</p>
                                        </div>
                                    </div>

                                    <div class="mt-6 sm:flex sm:justify-between">
                                        <div class="flex items-center">
                                            <!-- Heroicon name: solid/check-circle -->
                                            <svg [ngClass]="{'text-green-500':item.status === 'ORDER_PLACED' || item.status === 'PENDING' || item.status === 'IN_STOCK' || item.status === 'OUT_FOR_DELIVERY' || item.status === 'DELIVERED',
                                            'text-red-400':item.status === 'CANCELED' || item.status === 'REFUNDED' || item.status === 'EXCHANGED' || item.status === 'RETURNED'}"
                                                aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd"
                                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                    fill-rule="evenodd" />
                                            </svg>
                                            <p class="ml-2 text-sm font-medium text-gray-500">
                                                {{getOrderItemStatus(item.status, item.lastModifiedDate)}}
                                            </p>
                                        </div>

                                        <div
                                            class="mt-6 border-t border-gray-200 pt-4 flex items-center space-x-4 divide-x divide-gray-200 text-sm font-medium sm:mt-0 sm:ml-4 sm:border-none sm:pt-0">
                                            <div class="flex-1 flex justify-center">
                                                <a href="#"
                                                    class="text-indigo-600 whitespace-nowrap hover:text-indigo-500">View
                                                    product</a>
                                            </div>
                                            <div class="flex-1 pl-4 flex justify-center">
                                                <a href="#"
                                                    class="text-indigo-600 whitespace-nowrap hover:text-indigo-500">Buy
                                                    again</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #noOrders>
                <div class="max-w-7xl mx-auto text-center pt-20">
                    <div class="text-4xl mb-2">Изглезда, че нямате направени поръчки.</div>
                    <button routerLink="/home"
                        class="mt-4 mb-8 w-80 mx-auto uppercase rounded-md bg-gray-900 px-6 py-3 font-medium text-white">Към
                        началната
                        страница</button>
                </div>
            </ng-template>
        </div>
    </div>
</ng-container>