<mat-card class="mb-4" [ngClass]="{'remove-padding':innerWidth<=415}">
    <div [ngClass]="{'grid justify-center text-center':innerWidth<=415, 'flex justify-between':innerWidth>415}">
        <div>
            <button [ngClass]="{'remove-padding':innerWidth<=450 && innerWidth>415}" mat-button [matMenuTriggerFor]="sortByMenu"> {{innerWidth<=550 ? "":"Сортирай по -"}} {{displaySort}} <mat-icon>expand_more</mat-icon> </button>
            <mat-menu #sortByMenu>
                <button mat-menu-item (click)="onSortUpdate('name-asc')">Име: (А-Я)</button>
                <button mat-menu-item (click)="onSortUpdate('name-desc')">Име: (Я-А)</button>
                <button mat-menu-item (click)="onSortUpdate('price-asc')">Цена: (Ниска към Висока)</button>
                <button mat-menu-item (click)="onSortUpdate('price-desc')">Цена: (Висока към Ниска)</button>
            </mat-menu>
        </div>
        <div class="flex justify-center">
            <div>
                <button mat-button [matMenuTriggerFor]="menu">Покажи - {{itemsShowCount}} <mat-icon>expand_more</mat-icon> </button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onItemsShowCountUpdate(12)">12</button>
                <button mat-menu-item (click)="onItemsShowCountUpdate(24)">24</button>
                <button mat-menu-item (click)="onItemsShowCountUpdate(36)">36</button>
                </mat-menu>
            </div>
            <div class="hidden md:block">
                <button (click)="onColumnsUpdate(1)"><mat-icon>view_list</mat-icon></button>
                <button (click)="onColumnsUpdate(3)"><mat-icon>view_module</mat-icon></button>
                <button class="hidden lg:inline" (click)="onColumnsUpdate(4)"><mat-icon>view_comfy</mat-icon></button>
            </div>
        </div>
    </div>
</mat-card>