<mat-drawer-container [autosize]="true" class="min-h-full min-w-[260px] max-w-7xl mx-auto border-x">
    <!-- <mat-drawer [mode]="'side'" [opened]="true"> -->
    <mat-drawer mode="side" closed class="p-6">
        <app-filters (showCategory)="onShowCategoryChange($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-products-header 
        [innerWidth]="width"
        (sortChange)="onSortChange($event)" 
        (itemsCountChange)="onItemsCountChange($event)"
        (columnsCountChange)="onColumnsCountChange($event)">
    </app-products-header>
        <!-- <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"> -->
        <div class="grid" [ngClass]="{'grid-cols-2':columnsCount===2, 'grid-cols-3':columnsCount===3, 'grid-cols-4':columnsCount==4, 'grid-cols-1':columnsCount===1}">
            <div *ngFor="let product of products" class="pb-4">
                <app-product-card [innerWidth]="width" [product]="product" (addToCart)="onAddToCart($event)" class="w-full"
                    [columnsCountMode]="columnsCount"></app-product-card>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>