<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
    <!-- <mat-drawer [mode]="'side'" [opened]="true"> -->
    <mat-drawer mode="side" closed class="p-6">
        <app-filters (showCategory)="onShowCategoryChange($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-products-header 
        (sortChange)="onSortChange($event)" 
        (itemsCountChange)="onItemsCountChange($event)"
        (columnsCountChange)="onColumnsCountChange($event)">
    </app-products-header>
        <mat-grid-list gutterSize="16" [cols]="columnsCount" [rowHeight]="rowHeight">
            <mat-grid-tile *ngFor="let product of products">
                <app-product-card [product]="product" (addToCart)="onAddToCart($event)" class="w-full"
                    [columnsCountMode]="columnsCount"></app-product-card>
            </mat-grid-tile>

            <!-- <mat-grid-tile *ngFor="let product of products" [colspan]="columnsCount">
                <app-product-card [product]="product"></app-product-card>
         </mat-grid-tile> -->
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>