<!-- <mat-card class="max-w-7xl h-full mx-auto" *ngIf="cart.items.length">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef class="text-sm">Product</th>
            <td mat-cell *matCellDef="let element">
                <img src="{{element.product}}" alt="product" class="w-[100px] my-5">
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button mat-raised-button routerLink="/home">Continue Shopping</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-sm">Name</th>
            <td mat-cell *matCellDef="let element">
                span is not a block element, so .block is needed for the truncate to work
                <span class="truncate max-w-xs font-medium text-base block">{{element.name}}</span>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="text-sm">Price</th>
            <td mat-cell *matCellDef="let element" class="font-medium text-base">{{element.price | currency:' '}} лв.
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef class="text-sm">Quantity</th>
            <td mat-cell *matCellDef="let element" class="font-medium text-base">
                <button (click)="onRemoveQuantity(element)" mat-icon-button>
                    <mat-icon>remove</mat-icon>
                </button>
                {{element.quantity}}
                <button (click)="onAddQuantity(element)" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef class="text-sm">Total</th>
            <td mat-cell *matCellDef="let element" class="font-medium text-base">{{element.price * element.quantity |
                currency:' '}} лв.</td>
            <td mat-footer-cell *matFooterCellDef>
                <span class="font-bold text-xl py-5 block ">{{getTotal(cart.items) | currency}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <button (click)="onClearCart()" mat-raised-button color="warn" class="float-right">Clear All</button>
            </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="onRemoveFromCart(element)" mat-mini-fab color="" class="float-right">
                    <mat-icon>close</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button (click)="onCheckout()" mat-raised-button color="primary" class="float-right">Proceed To Checkout
                    <mat-icon>shopping_cart</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
</mat-card>
<mat-card class="max-w-7xl mx-auto" *ngIf="!cart.items.length">
    <p>Your cart is empty.</p>
    <button mat-raised-button routerLink="/home">Start Shopping</button>
</mat-card> -->


<div class="flex max-w-5xl h-full my-auto mx-auto flex-col overflow-y-hidden bg-white shadow-xl">
    <div class="flex-1 overflow-y-auto py-4 px-4 sm:px-6">
        <div class="flex items-start justify-between">
            <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
            <div class="ml-3 flex h-7 items-center">
                <button type="button" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Close panel</span>
                    <!-- Heroicon name: outline/x-mark -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="mt-2">
            <div class="flow-root">
                <ul role="list" class="-my-6 divide-y divide-gray-200">
                    <ng-container *ngFor="let product of dataSource">
                        <li class="flex py-6">
                            <div
                                class="h-36 w-36 sm:h-48 sm:w-48 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                <img [src]="product.image"
                                    alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                                    class="h-full w-full object-cover object-center">
                            </div>

                            <div class="ml-4 flex flex-1 flex-col">
                                <div>
                                    <div class="flex flex-col items-center sm:flex-row sm:justify-between text-base font-medium text-gray-900">
                                        <span href="#" [textContent]="product.title">TITLE</span>
                                        <span class="ml-4">{{product.price | currency:' '}} лв.</span>
                                    </div>
                                    <span class="mt-4 text-sm text-gray-500 hidden sm:block"
                                        [textContent]="product.description">
                                        DESCRIPTION
                                    </span>
                                </div>
                                <div class="flex flex-1 flex-col sm:flex-row sm:items-end justify-between text-sm">
                                    <div class="flex flex-row items-center mx-auto sm:mx-0">
                                        <span class="text-gray-900 font-medium">Quantity: </span>
                                        <button (click)="onRemoveQuantity(product)" mat-icon-button>
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                        {{product.quantity}}
                                        <button (click)="onAddQuantity(product)" mat-icon-button>
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>

                                    <div class="flex flex-col items-center">
                                        <button type="button"
                                            class="font-medium px-2 text-indigo-600 hover:text-indigo-500">Remove</button>
                                        <span class="mt-2 text-lg font-medium text-gray-900">Total:
                                            {{product.price*product.quantity | currency:''}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <!-- More products... -->
                </ul>
            </div>
        </div>
    </div>

    <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
        <div class="flex justify-between text-lg font-medium text-gray-900">
            <p>Subtotal</p>
            <p>{{getTotal(dataSource) | currency:''}}</p>
        </div>
        <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
        <div class="mt-6">
            <a href="#"
                class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
        </div>
        <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
            <p>
                or
                <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Continue Shopping
                    <span aria-hidden="true"> &rarr;</span>
                </button>
            </p>
        </div>
    </div>
</div>