<ng-container *ngIf="order$ | async as order">
    <main class="max-w-2xl mx-auto pt-8 pb-24 sm:pt-16 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="px-4 space-y-2 sm:px-0 sm:flex sm:items-baseline sm:justify-between sm:space-y-0">
            <div class="flex sm:items-baseline sm:space-x-4">
                <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">Order #{{order.id}}</h1>
                <a href="#" class="hidden text-sm font-medium text-indigo-600 hover:text-indigo-500 sm:block">View
                    invoice<span aria-hidden="true"> →</span></a>
            </div>
            <p class="text-sm text-gray-600">Order placed <time [dateTime]="order.orderDate"
                    class="font-medium text-gray-900">{{order.orderDate | date:'MMMM dd, yyyy'}}</time></p>
            <a href="#" class="text-sm font-medium text-indigo-600 hover:text-indigo-500 sm:hidden">View invoice<span
                    aria-hidden="true"> →</span></a>
        </div>

        <!-- Products -->
        <section aria-labelledby="products-heading" class="mt-6">
            <h2 id="products-heading" class="sr-only">Products purchased</h2>

            <div class="space-y-8">

                <div *ngFor="let item of order.orderItems"
                    class="bg-white border-t border-b border-gray-200 shadow-sm sm:border sm:rounded-lg">
                    <div class="py-6 px-4 sm:px-6 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:p-8">
                        <div class="sm:flex lg:col-span-7">
                            <div
                                class="flex-shrink-0 w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden sm:aspect-none sm:w-40 sm:h-40">
                                <img [src]="item.product.imageUrl"
                                    alt="Insulated bottle with white base and black snap lid."
                                    class="w-full h-full object-center object-cover sm:w-full sm:h-full">
                            </div>

                            <div class="mt-6 sm:mt-0 sm:ml-6">
                                <h3 class="text-base font-medium text-gray-900">
                                    <a href="#">{{item.product.name}}</a>
                                </h3>
                                <p class="mt-2 text-sm font-medium text-gray-900">
                                    {{item.pricePerItem | currency:'BGN ':'symbol':'1.2-2'}} лв.
                                </p>
                                <p class="mt-3 text-sm text-gray-500">
                                    {{item.product.description}}
                                </p>
                            </div>
                        </div>

                        <div class="mt-6 lg:mt-0 lg:col-span-5">
                            <dl class="grid grid-cols-2 gap-x-6 text-sm">
                                <div>
                                    <dt class="font-medium text-gray-900">Delivery address</dt>
                                    <dd class="mt-3 text-gray-500">
                                        <span class="block">{{order.city}}</span>
                                        <span class="block">{{order.address}}</span>
                                        <span class="block">{{order.city + ', ' + order.zipCode}}</span>
                                    </dd>
                                </div>
                                <div>
                                    <dt class="font-medium text-gray-900">Shipping updates</dt>
                                    <dd class="mt-3 text-gray-500 space-y-3">
                                        <p>
                                            {{order.email}}
                                        </p>
                                        <p>
                                            {{order.phone}}
                                        </p>
                                        <button type="button"
                                            class="font-medium text-indigo-600 hover:text-indigo-500">Edit</button>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                    <div class="border-t border-gray-200 py-6 px-4 sm:px-6 lg:p-8">
                        <h4 class="sr-only">Status</h4>
                        <p class="text-sm font-medium text-gray-900">
                            {{getOrderItemStatus(item.status, item.lastModifiedDate)}}
                        </p>
                        <div class="mt-6" aria-hidden="true">
                            <div class="bg-gray-200 rounded-full overflow-hidden">
                                <div class="h-2 bg-indigo-600 rounded-full"
                                    [style]="{'width': (getOrderItemStatusIndex(item.status) + 1) / 5 * 100 + '%'}">
                                </div>
                            </div>
                            <div class="hidden sm:grid grid-cols-5 text-sm font-medium text-gray-600 mt-6">
                                <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderItemStatusIndex(item.status),0)}"
                                    class="text-left pl-5">Order placed</div>
                                <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderItemStatusIndex(item.status),1)}"
                                    class="text-center">Processing</div>
                                <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderItemStatusIndex(item.status),2)}"
                                    class="text-center">Processing</div>
                                <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderItemStatusIndex(item.status),3)}"
                                    class="text-center ">Shipped</div>
                                <div [ngClass]="{'text-indigo-600':isMoreThanOrEqualTo(getOrderItemStatusIndex(item.status),4)}"
                                    class="text-right pr-5">
                                    {{isMoreThanOrEqualTo(getOrderItemStatusIndex(item.status),4) ?
                                    getOrderItemStatusEnum(item.status) : 'Delivered'}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Billing -->
        <section aria-labelledby="summary-heading" class="mt-16">
            <h2 id="summary-heading" class="sr-only">Billing Summary</h2>

            <div class="bg-gray-100 py-6 px-4 sm:px-6 sm:rounded-lg lg:px-8 lg:py-8 lg:grid lg:grid-cols-12 lg:gap-x-8">
                <dl class="grid grid-cols-2 gap-6 text-sm sm:grid-cols-2 md:gap-x-8 lg:col-span-7">
                    <div>
                        <dt class="font-medium text-gray-900">Billing address</dt>
                        <dd class="mt-3 text-gray-500">
                            <span class="block">{{order.city}}</span>
                            <span class="block">{{order.address}}</span>
                            <span class="block">{{order.city+', '+order.zipCode}}</span>
                        </dd>
                    </div>
                    <div>
                        <dt class="font-medium text-gray-900">Payment information</dt>
                        <div class="mt-3">
                            <dd *ngIf="order.paymentMethod == paymentMethod.CARD_PAYMENT"
                                class="-ml-4 -mt-4 flex flex-wrap">
                                <div class="ml-4 mt-4 flex-shrink-0">
                                    <svg aria-hidden="true" width="36" height="24" viewBox="0 0 36 24"
                                        xmlns="http://www.w3.org/2000/svg" class="h-6 w-auto">
                                        <rect width="36" height="24" rx="4" fill="#224DBA"></rect>
                                        <path
                                            d="M10.925 15.673H8.874l-1.538-6c-.073-.276-.228-.52-.456-.635A6.575 6.575 0 005 8.403v-.231h3.304c.456 0 .798.347.855.75l.798 4.328 2.05-5.078h1.994l-3.076 7.5zm4.216 0h-1.937L14.8 8.172h1.937l-1.595 7.5zm4.101-5.422c.057-.404.399-.635.798-.635a3.54 3.54 0 011.88.346l.342-1.615A4.808 4.808 0 0020.496 8c-1.88 0-3.248 1.039-3.248 2.481 0 1.097.969 1.673 1.653 2.02.74.346 1.025.577.968.923 0 .519-.57.75-1.139.75a4.795 4.795 0 01-1.994-.462l-.342 1.616a5.48 5.48 0 002.108.404c2.108.057 3.418-.981 3.418-2.539 0-1.962-2.678-2.077-2.678-2.942zm9.457 5.422L27.16 8.172h-1.652a.858.858 0 00-.798.577l-2.848 6.924h1.994l.398-1.096h2.45l.228 1.096h1.766zm-2.905-5.482l.57 2.827h-1.596l1.026-2.827z"
                                            fill="#fff"></path>
                                    </svg>
                                    <p class="sr-only">Visa</p>
                                </div>
                                <div class="ml-4 mt-4">
                                    <p class="text-gray-900">
                                        Ending with 4242
                                    </p>
                                    <p class="text-gray-600">
                                        Expires 02 / 24
                                    </p>
                                </div>
                            </dd>
                            <dd *ngIf="order.paymentMethod == paymentMethod.CASH_PAYMENT"
                                class="-ml-4 -mt-4 flex flex-wrap">
                                <div class="ml-4 mt-4 flex-shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-wallet2" viewBox="0 0 16 16">
                                        <path
                                            d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                                    </svg>
                                    <p class="sr-only">Payment on Delivery</p>
                                </div>
                                <div class="ml-4 mt-4">
                                    <p class="text-gray-900">
                                        Payment on Delivery
                                    </p>
                                </div>
                            </dd>
                        </div>
                    </div>
                </dl>

                <dl class="mt-8 divide-y divide-gray-200 text-sm lg:mt-0 lg:col-span-5">
                    <div class="pb-4 flex items-center justify-between">
                        <dt class="text-gray-600">Subtotal</dt>
                        <dd class="font-medium text-gray-900">{{order.productsTotal | currency:'BGN '}} лв.</dd>
                    </div>
                    <div class="py-4 flex items-center justify-between">
                        <dt class="text-gray-600">Shipping</dt>
                        <dd class="font-medium text-gray-900">{{order.deliveryFee | currency:'BGN '}} лв.</dd>
                    </div>
                    <div class="pt-4 flex items-center justify-between">
                        <dt class="font-medium text-gray-900">Order total</dt>
                        <dd class="font-medium text-indigo-600">{{order.totalAmount | currency:'BGN '}} лв.</dd>
                    </div>
                </dl>
            </div>
        </section>
    </main>
</ng-container>