<div *ngIf="dataSource.length >0">
  <div class="max-w-7xl mx-auto">
    <app-checkout-header></app-checkout-header>

    <div class="my-4">
      <span class="flex items-center justify-center font-bold text-gray-900 text-md lg:text-3xl">Завършване
        напоръчка</span>
    </div>

    <app-checkout-body></app-checkout-body>
  </div>
</div>

<div *ngIf="dataSource.length==0">
  <div class="max-w-7xl mx-auto text-center pt-10">
    <div class="text-4xl mb-2">Вашата количка е празна.</div>
    <p class="mb-4 text-base">Изглежда, че не сте добавили продукти в количката си.</p>
    <button routerLink="/home"
      class="mt-4 mb-8 w-80 mx-auto uppercase rounded-md bg-gray-900 px-6 py-3 font-medium text-white">Към началната
      страница</button>
  </div>
</div>